.menu-tabs-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 59%;
}

.tab {
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    float: left;
    width: 140px;
}

.tab.active {
    background-color: #fff;
}

.content {
    padding: 10px;
}

.food-menu-content,
.cocktails-content,
.app-menu-content,
.salads-menu-content,
.sand-menu-content,
.sides-menu-content,
.kids-menu-content,
.dinners-menu-content,
.seafood-menu-content {
    display: none;
}

.food-menu-content.active,
.cocktails-content.active,
.app-menu-content.active,
.salads-menu-content.active,
.sand-menu-content.active,
.sides-menu-content.active,
.kids-menu-content.active,
.dinners-menu-content.active,
.seafood-menu-content.active {
    display: block;
}

.tab:first-child {
    border-radius: 5px 0 0 5px;
}

.tab:last-child {
    border-radius: 0 5px 5px 0;
}


@media (max-width: 768px) {
    .tab {
        float: none;
        width: 100%;
        border-bottom: 1px solid #ccc;
        border-right: none;
    }

    .menu-tabs-container {
        border: none;
        border-radius: 0;
    }

    .tab:first-child {
        border-radius: 0;
    }

    .tab:last-child {
        border-radius: 0;
    }
}

.menu-item {
    margin-bottom: 10px;
}

.item-name {
    font-weight: bold;
}

.item-price {
    float: right;
}

.item-description {
    clear: both;
}
