
body {
    background-color: #FFFAD1 ;
}

.nav-bar-home {
  margin-top: -100px;
}

.header-image {
  display: flex;
  justify-content: center;
  }
  
  .header-image img {
    max-width: 50%;
    max-height: 50%;
    margin-top: 30px;
  }

  .top-corner-images {
    position: relative;
    max-width: 2000px;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .top-left-image {
    position: absolute;
    
  }
  
  .top-right-image {
    position: absolute;
    right: 0px;
  }

  .page-content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
  
  @media (max-width: 768px) {

    .header-image {
        display: none;
    }

    .nav-bar-home {
      margin-top: 40px;
    }

    .top-left-image {
        width: 40%;
        height: auto;
    }

    .top-right-image {
        width: 40%;
        height: auto;
    }
  }