

  .socials-container {
    top: 30px;
    right: 50px;
    margin-top: 10px;
  }


.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  @media (max-width: 767px) {
    .menu {
      margin-top: 200px;
    }
  }
  