

.page-content {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: black;
    font-family: "Titan One", sans-serif;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #0C9098;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: #0A6B70;
  }
  

  @media (max-width: 768px) {
    .page-content {
      padding: 10px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    button {
      font-size: 16px;
    }
  }
  